{{!< default}}

<div class="container">
	
	<div class="row">
		<div class="col-md-3 titles">
			<h2>Contact me</h2>
			<p>I may respond!</p>
		</div>

		<div class="col-md-8 content">
			<p class="lead">
				You can get in touch with me filling the form below.<br />
			</p>

			<form method="POST">
				
				<p class="lead"></p>

				<input type="hidden" name="action" value="contact" />
				<div class="row">
					<div class="form-group col-md-6">
						<label>
							Name
						</label>
						<input type="text" name="name" class="form-control" placeholder="Your name" />
						<span class="help-block"></span>
					</div>
					<div class="form-group col-md-6">
						<label>
							Email
						</label>
						<input type="email" name="email" class="form-control" placeholder="Your email" />
						<span class="help-block"></span>
					</div>
				</div>
				<div class="form-group">
					<label>
						Message
					</label>
					<textarea name="message" class="form-control" rows="7" placeholder="Your message"></textarea>
					<span class="help-block"></span>
				</div>
				<div class="form-group text-right">
					<button class="btn btn-default" data-loading-text="Sending..." >Send</button>
				</div>

			</form>

		</div>
	</div>
</div>
