<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p>
					Original theme created by Xabi Errotabehere, all content is for you to use from
					<a href="/">{{@blog.title}}</a> no-&copy; 2014 &bull; No right reserved.
				</p>
				<p>
					Proudly published with 
					<a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a>
				</p>
			</div>
			<div class="col-md-6">
				<ul class="list-inline pull-right">
					<li><a href="https://twitter.com/xabs" title="follow me on Twitter" target="_blank"><img src="/assets/images/twitter.png"/></a></li>
					<li><a href="http://au.linkedin.com/in/keinu/" title="My LinkedIn profile" target="_blank"><img src="/assets/images/linkedin.png" alt="follow me on Twitter" /></a></li>
					<li><a href="https://github.com/keinu/" title="My GitHub page" target="_blank"><img src="/assets/images/github.png"/></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript">
	var url = "{{url}}";
</script>